header{
 
}
.banner{
  position: relative;
}
.banner img{
  max-width: 100%;
}
.banner .welcome{
  background-color: #feb614;
  color: white;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 10%;
}
.banner h2{
  font-size: 50px;
}
.banner h2 span{
  font-size: 1.3em;
}
img {
  max-width: 100%;
}
ul {
  color: white;
}
body {
background-color: #feb614;
}